<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOCIAL NETWORK DISPLAY PLATFORM</title>
    <link type="text/css" rel="stylesheet" href="static/css/menu_sideslide.css">
    <link type="text/css" rel="stylesheet" href="static/css/allf.css">

    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <link type="text/css" rel="stylesheet" href="static/css/ns-default.css">
    <link type="text/css" rel="stylesheet" href="static/css/ns-style-growl.css">
    <link type="text/css" rel="stylesheet" href="static/css/default.css">
    <link type="text/css" rel="stylesheet" href="static/css/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="static/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="static/css/buttons.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/detail.css">
    <link type="text/css" rel="stylesheet" href="static/css/listStyle.css">
    <link type="text/css" rel="stylesheet" href="static/css/group.css">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="static/js/option.js"></script>
    <!--分页-->
    <!--<script type="text/javascript" src="static/js/jquery.bs_pagination.min.js"></script>-->
    <!--<script type="text/javascript" src="static/js/en.min.js"></script>-->

    <script src="static/js/modernizr.custom.js"></script>
    <script src="static/js/JSON.js"></script>
    <!--<script src="static/js/nav.js"></script>-->
    <script src="static/js/groups.js"></script>
    <script src='static/js/common.js'></script>
</head>
<body>

<!--header-->
<div class="menu-wrap">

    <nav class="menu">

        <div class="icon-list">
            <ul class="tipUl" id="tipUl">
            </ul>

        </div>

    </nav>

    <button class="close-button" id="close-button">Close Menu</button>

</div>


<button class="menu-button" id="open-button">Open Menu</button>
<div class="header navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <img id="userIcon" src="static/images/boy.png">
            <span id="userName"></span>
            <script>
                var result_all ={{result|safe}};
                // var userName0 = '{{name|safe}}';
//                var url0 = '{{url|safe}}';
//                var type0 = '{{type|safe}}';
            </script>
            <a href="/login" id="logout">登出</a>
            <a id="a_title" class="brand">
                <img src="static/images/logo2.png">
                <span>SOCIAL NETWORK DISPLAY PLATFORM</span>
            </a>
            <div id="somedialog" class="dialog">

                <div class="dialog__overlay"></div>

                <div class="dialog__content" id="dialog__content">
                    <!--<div><button class="action" data-dialog-close>Close</button></div>-->
                    <i class="fa fa-close action" data-dialog-close aria-hidden="true"></i>
                </div>

            </div>
        </div>
    </div>
    <div class="help-tip" id="listTip">
        <div id="tipContent">
            <i class="fa fa-close" id="list_close" aria-hidden="true"></i>
        </div>
    </div>
</div>

<!--container-->

<div class="page-container">
    <!--container-sidebar-->
    <div class="page-sidebar nav-collapse collapse">
        <ul class="page-sidebar-menu">
            <li class="start active">
                <!--<a href="/index?type={{message}}&name={{name}}">-->
                <form action="/index" method="post">
                    <input type="hidden" name="type" id="input-index-type">
                    <input type="hidden" name="name" id="input-index-name">
                    <!--<a id="a-zhanshi" type="submit">-->
                    <i class="icon-home"></i>
                    <input type="submit" value="展示" class="input-submit">
                </form>
            </li>
            <li>
                <form action="/search" method="post">
                    <input type="hidden" name="type" id="input-search-type">
                    <input type="hidden" name="name" id="input-search-name">
                    <!--<a id="a-zhanshi" type="submit">-->
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="submit" value="查询" class="input-submit active">
                </form>
            </li>

            <li>
                <form action="/chart" method="post">
                    <input type="hidden" name="type" id="input-chart-type">
                    <input type="hidden" name="name" id="input-chart-name">
                    <!--<a id="a-zhanshi" type="submit">-->
                    <i class="icon-table"></i>
                    <input type="submit" value="分析" class="input-submit">
                </form>
            </li>

        </ul>
    </div>
    <!--container-content-->
    <div class="page-content" style="min-height: 1100px !important;">
        <div class="container-fluid">

            <!--container-content-title-->
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Social Network Display Platform
                        <small>Mining information of friends</small>
                    </h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--container-content-dashboard-->
            <div id="dashboard">

                <div class="row-fluid">
                    <div class="contentInfo">
                        <div class="span11 headInfo">
                            <div class="headPhoto">
                                <img id="head-img" src={{ picture }}>
                            </div>
                            <h1 class="headName">{{ name1 }}的群组信息</h1>
                        </div>
                        <div class="span11 friendsInfo">
                            <ul class="ul-zan">
                                <!--<li class="li-zan">-->
                                    <!--<div class="edge" style="display: block;">-->
                                        <!--<div class="desktop">-->
                                            <!--<div class="label-pic">-->
                                                <!--<div class="label-pic-part">-->
                                                    <!--<img src="static/images/defaultPhoto.jpg">-->
                                                <!--</div>-->
                                                <!--<div class="label-pic-part">-->
                                                    <!--<img src="static/images/defaultPhoto.jpg">-->
                                                <!--</div>-->
                                                <!--<div class="label-pic-part">-->
                                                    <!--<img src="static/images/defaultPhoto.jpg">-->
                                                <!--</div>-->
                                                <!--<div class="label-pic-part">-->
                                                    <!--<img src="static/images/defaultPhoto.jpg">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="label-content">-->
                                                <!--<p class="label-name">李崧维</p>-->
                                                <!--<p class="label-group-count">10554位成员</p>-->
                                                <!--<p class="label-group-des">这是一个人非常多的小组，真的真的非常多啊啊啊哈哈哈哈多啊啊啊哈哈哈哈多啊啊啊哈哈哈哈</p>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


</body>
<script src="static/js/notificationFx.js"></script>
<!--<script src="static/js/classie.js"></script>-->

<!--侧边栏-->
<script src="static/js/classie.js"></script>
<script src="static/js/main.js"></script>
</html>